<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
</head>
<style>
    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        color: #595959;
    }
</style>
<body>

<h3>Your Account Info</h3>
<table style="height: 50px;" width="100%">
    <tbody>
    <tr>
        <td style="width: 10%;">Name</td>
        <td style="width: 80%;">[@name]</td>
    </tr>
    <tr>
        <td style="width: 10%;">Email</td>
        <td style="width: 80%;">[@email]</td>
    </tr>
    <tr>
        <td style="width: 10%;">Password</td>
        <td style="width: 80%;"><h3>[@password]</h3></td>
    </tr>
    </tbody>
</table>

</body>
</html>